<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <packageSources>
      <add key="github" value="nuget.pkg.github.com/Teamemories/index.json" />
    </packageSources>
    <packageSourceCredentials>
      <github>
        <add key="Username" value="Teamemories" />
        <add key="ClearTextPassword" value="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" />
      </github>
    </packageSourceCredentials>
  </Configuration>
